site_name: PardoX Documentation
site_url: https://betoalien.github.io/pardox/
site_description: The Hyper-Fast Data Engine powered by Rust.
repo_url: https://github.com/betoalien/pardox
repo_name: betoalien/pardox
edit_uri: ""  # Deshabilitado para Closed Core

theme:
  name: material
  palette:
    # Palette toggle (Light/Dark mode)
    - scheme: default
      primary: black 
      accent: deep orange 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - tables

nav:
  - Home: index.md
  - Getting Started:
      - Installation: started/installation.md
      - Quick Start: started/quickstart.md
  - User Guide:
      - IO Operations: guide/io.md
      - Data Mutation: guide/mutation.md
      - Aggregations: guide/aggregations.md
  - API Reference: reference.md